* {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  height: 100vh;
  background: #262626;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-card {
  width: 400px;
  text-align: center;
  border-radius: 8px;
  overflow: hidden;
}

.card-header {
  background: #2c3a47;
  padding: 60px 40px;
}

.pic {
  display: inline-block;
  padding: 8px;
  background: linear-gradient(180deg, #ff557a, #67b7e6);
  margin: auto;
  border-radius: 50%;
  background-size: 200% 200%;
  animation: animated-gradient 3s linear infinite;
}

@keyframes animated-gradient {
  25% {
    background-position: left bottom;
  }

  50% {
    background-position: right bottom;
  }

  75% {
    background-position: right top;
  }

  100% {
    background-position: left top;
  }
}

.pic img {
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.name {
  color: #f2f2f2;
  font-size: 28px;
  font-weight: 600;
  margin: 10px 0;
}

.desc {
  font-size: 18px;
  color: #e66767;
}

.sm {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.sm a {
  color: #f2f2f2;
  width: 56px;
  font-size: 22px;
  transition: .3s linear;
}

.sm a:hover {
  color: #e66767;
}

.contact-btn {
  display: inline-block;
  padding: 12px 50px;
  color: #e66767;
  border: 2px solid #e66767;
  border-radius: 6px;
  margin-top: 16px;
  cursor: pointer;
  transition: .3s linear;
}

.contact-btn:hover {
  background: #e66767;
  color: #f2f2f2;
}

.cont {
  display: none;
  position: relative;
  padding: 20px;
  margin: 15px;
  width: 400px;
  border-radius: 5px;
  background-color: #2c3a47;
}

.cont label {
  color: #e66767
}

input[type=text],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #e66767;
  color: #fff;
  background-color: #2c3a47;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  color: #e66767;
  background-color: transparent;
  padding: 12px 20px;
  border: 2px solid #e66767;
  border-radius: 4px;
  transition: .3s linear;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #e66767;
  color: #f2f2f2;
}

#status {
  position: relative;
  margin-top: 15px;
  margin-bottom: 0;
  text-align: center;
  font-size: 1.5vh;
  color: #e66767;
  background-color: transparent;
  padding: 5px;
  border: 2px solid #e66767;
  border-radius: 4px;
  transition: .3s linear;
}

#status.success {
  border: 2px solid green;
  color: green;
}

#status.error {
  border: 2px solid red;
  color: red;
}

@media only screen and (max-width: 600px) {
  .cont {
    display: none;
    position: absolute;
    padding: 20px;
    margin: -10vh;
    width: 400px;
    bottom: -500px;
    border-radius: 5px;
    background-color: #2c3a47;
  }
  .card-header {
    background: #2c3a47;
    padding: -50vh 40px;
  }
}